*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url("digital.png");
}
.main{
    background: #ccc;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}
.badge{
    background: #e66357;
    width: 96px;
    color: white;
    font-weight: bold;
    position: absolute;
    padding: 5px 10px;
    top:-15px;
    left:40%;
    text-align: center;
}
.clock{
    background: #EBEBEB;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px;
    border-radius: 4px;
    font-family: orbitron;
}