* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('digital.png');
}

.main {
    margin: 100px auto;
    background: rgb(116, 34, 34);
    width: 400px;
    position: relative;
    padding: 33px;
}

.badge {
    background: red;
    width: 65px;
    text-align: center;
    top: -15px;
    left: 40%;
    position: absolute;
    font-weight: bold;
    color: white;
}

.clock {
    padding: 35px;
    background: whitesmoke;
    text-align: center;
    font-size: 55px;
}